{% extends 'base.html'%}

{% block title %} HOMEPAGE {% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-4" style="padding-top: 2vw; font-size: 100px; font-weight: bold;">IMS</h2>
    <h2 class="text-center mt-4" style="padding-top: 0.5vw; font-size: 24px; font-weight: bold;">Inventory Management System</h2>
    <p class="text-center mt-4" style="padding-top: 3vw; font-size: 15px; font-weight: bold;">Welcome to Inventory Management System Web Application,
        Efficiently Manage, Track, and Optimize Your Inventory</p>

    <p class="text-center mt-4" style="padding-top: 3vw; font-size: 12px; font-weight: bold;">Please Naviagte through Pages Above 👆 </p>

    <
   
</div>
{% endblock %}